.intro-header {
  background: rgba(251, 208, 184, 0.5);
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  .intro-image {
    display: block;
    position: relative;
    width: 572px;
    height: 432px;
    left: 156px;
    top: -82px;
  }
  .my-info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5.2rem;
    right: -11rem;
    padding: 2rem;
    text-align: left;
    .name {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #000000;
      margin-bottom: 28px;
    }
    .my-info-about {
      width: 568px;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 35px;
      color: #000000;
    }
    .social-media-icons {
      display: flex;
      align-items: center;
      margin-top: 25px;
      a {
        margin-right: 13px;
        &:hover,
        &:focus,
        &:active {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 50%,
            (#bbd9be) 50%
          );
        }
      }
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
  margin: -26px 189px 2rem 189px;
  z-index: 1;
  position: relative;
  .blog-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
  }
  .blog-list {
    margin-top: 25px;
    margin-left: 80px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
  .title {
    font-size: 60px;
    font-weight: 700;
    margin: 3rem 0.5rem;
    font-style: italic;
  }
}

.page-container {
  top: -25px;
  height: inherit;
  overflow: hidden;
  position: relative;
  padding: 0 17px;
  a {
    text-decoration: none;
    color: black;
    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        (#bbd9be) 50%
      );
    }
  }
  .view-all {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
    position: absolute;
    bottom: 25px;
  }
  .blog-post-info {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
  }
  .date {
    text-transform: uppercase;
    font-style: normal;
    font-weight: light;
    font-size: 20px;
    line-height: 47px;
    color: #000000;
  }
  .content {
    padding: 74px 0 20px 261px;
    overflow-y: auto;
    height: inherit;
    form {
      display: flex;
      flex-direction: column;
      width: 70%;
      label {
        text-transform: uppercase;
        font-style: normal;
        font-weight: light;
        font-size: 20px;
        line-height: 47px;
        color: #000000;
      }
      input {
        height: 50px;
        margin: 0;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        padding: 1em;
        display: block;
        margin-bottom: 1em;
        resize: none;
      }

      textarea {
        margin: 0;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        padding: 1em;
        display: block;
        margin-bottom: 1em;
        resize: none;
      }

      button {
        text-transform: uppercase;
        font-style: normal;
        font-weight: light;
        font-size: 20px;
        line-height: 47px;
        color: #000000;
        border: none;
        background: none;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 50%,
            (#bbd9be) 50%
          );
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .intro-header {
    flex-direction: column;
    align-items: center;
    .intro-image {
      display: none;
    }
    .my-info {
      top: -5.2rem;
      right: 0;
    }
  }
  .blog {
    width: 100%;
    padding-left: 2rem;
    margin: -26px 0 20px 0;
  }
}

@media (max-width: 600px) {
  .intro-header {
    .my-info {
      .name {
        font-size: 30px;
      }
      .my-info-about {
        font-size: 20px;
        width: 100%;
      }
    }
  }
  .blog {
    .blog-title {
      font-size: 30px;
    }
  }
}


@media (max-width: 1100px) {
  .page-container {
    .content {
      padding: 20px 0 0 0;
    }
    .view-all {
      display: none; 
    }
  }
}

.hidden {
  display: none;
}