.background {
  padding: 20px 41px 140px 41px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: auto;
  min-height: 200px;
  .header-title {
    margin: 0 1rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-transform: uppercase;
  }
  a:not(:first-child) {
    margin: 0rem 1rem;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 50%,
        (#bbd9be) 50%
      );
    }
  }
  .header-links {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
  }
}

.active {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    (#bbd9be) 50%
  );
}

@media (max-width: 900px) { 
  .background {
    flex-direction: column;
    padding-bottom: 40px;
    .header-title {
      margin-bottom: 10px;
    }
    .header-links {
      font-size: 20px;
    }
  }
}