.background {
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: black;
        margin: 0;
    }
    a {
        margin: 0rem 1rem;
        text-decoration: none;
        color: black;
    }
}