.background {
    padding: 2rem 1rem 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        color: black;
        margin: 0 1rem;
        text-align: center;
    }
    a {
        margin: 0rem 1rem;
        text-decoration: none;
        color: black;
    }
}